html:root {
  --bg-color: #252c33;
  --electric-green: #00faaa;
  --electric-red: #f70044;
  --electric-yellow: #d7ff0d;
  --white: #fff;
  --white2: #f3fffe;
  --brown: #a94442;
  --block-bg: rgba(255, 255, 255, 0.1);
}
