.container {
  position: relative;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  z-index: 500;
  background-color: var(--bg-color);

  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 50px 0;
    max-width: 400px;

    .title {
      font-size: 103px;
      font-weight: 400;
      display: inline-block;
      background: linear-gradient(
        45deg,
        var(--electric-green),
        var(--white2),
        var(--electric-red)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .descr {
      color: var(--white);
      font-size: 22px;
      line-height: 1.5;
    }
  }
}


@media (max-width: 1200px) {
  .container {
    .text {
      .title {
        font-size: 70px;
      }
    }
  }
}