.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 70px;

  .title {
    opacity: 0;
    text-align: center;
    display: inline-block;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
    text-shadow: 0 0 20px var(--electric-green);
  }

  .box {
    display: flex;
    z-index: 100;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    .left {
      max-width: 40%;
      opacity: 0;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      opacity: 0;
      max-width: 40%;
      gap: 20px;
      color: var(--white);

      .descr {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        color: var(--white);
        font-size: 20px;
        gap: 40px;

        .line {
          display: block;
          width: 2px;
          height: inherit;
          background-color: #d7ff0d;
          box-shadow: 0 0 4px #d7ff0d;
          border-radius: 15px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 20px;
    .title {
      font-size: 34px;
      animation: none;
      opacity: 1;
      transform: translateX(0);
    }
    .box {
      flex-direction: column;
      gap: 60px;

      .right {
        max-width: 67%;
        animation: none;
        opacity: 1;
      }

      .left {
        max-width: 67%;
        animation: none;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .title {
      font-size: 25px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .box {
      .right {
        max-width: 100%;

        .descr {
          gap: 15px;
        }
      }
    }
  }
}
