.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 70px;

  .title {
    display: inline-block;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
    text-shadow: 0 0 20px var(--electric-green);

    animation: titleMove 0.2s ease;
  }

  .box {
    display: flex;
    z-index: 100;
    width: 80%;
    justify-content: space-between;

    animation: boxMove 1s ease;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 600px;
      color: var(--white);

      .descr {
        color: var(--white);
        font-size: 20px;
        display: flex;
        gap: 40px;

        .line {
          display: block;
          width: 2px;
          height: 100%;
          background-color: #d7ff0d;
          box-shadow: 0 0 4px #d7ff0d;
          border-radius: 15px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    .box {
      flex-direction: column;
      gap: 40px;

      .descr {
        flex-direction: column;
      }
    }
  }
}

@keyframes titleMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxMove {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
